
<div id="myCarousel" class="span12 carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/istockphoto_15509557-team.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="180" height="120">
                <h5><a href="/node/7">And we have all the tools you need.</a></h5>
                <p>We want you to focus on doing what you do best.  With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>
                <a class="btn" href="/practices">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015675887Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/13">We excel at matching talent to your needs.</a></h5>
                <p>We get to know you, your business needs and your work culture.  We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</p>
                <a class="btn" href="/staffing">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773483Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/5">Exceeding customer expectations</a></h5>
                <p>We not only meet our customer expectations, but exceed them beyond their wildest imagination.  Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</p>
                <br>
                <a class="btn" href="/services">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773512Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/6">We meet you where you are.</a></h5>
                <p>Work with us, and you will soon realize that we are experts with in-depth domain knowledge of the industry your business caters to.</p>
                <a class="btn" href="/industries">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/istockphoto_15509557-team.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="180" height="120">
                <h5><a href="/node/7">And we have all the tools you need.</a></h5>
                <p>We want you to focus on doing what you do best.  With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>
                <a class="btn" href="/practices">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015675887Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/13">We excel at matching talent to your needs.</a></h5>
                <p>We get to know you, your business needs and your work culture.  We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</p>
                <a class="btn" href="/staffing">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773483Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/5">Exceeding customer expectations</a></h5>
                <p>We not only meet our customer expectations, but exceed them beyond their wildest imagination.  Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</p>
                <a class="btn" href="/services">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773512Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/6">We meet you where you are.</a></h5>
                <p>Work with us, and you will soon realize that we are experts with in-depth domain knowledge of the industry your business caters to.</p>
                <br>
                <a class="btn" href="/industries">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/istockphoto_15509557-team.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="180" height="120">
                <h5><a href="/node/7">And we have all the tools you need.</a></h5>
                <p>We want you to focus on doing what you do best.  With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>
                <a class="btn" href="/practices">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773483Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/5">Exceeding customer expectations</a></h5>
                <p>We not only meet our customer expectations, but exceed them beyond their wildest imagination.  Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</p>
                <a class="btn" href="/services">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015675887Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/13">We excel at matching talent to your needs.</a></h5>
                <p>We get to know you, your business needs and your work culture.  We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</p>
                <a class="btn" href="/staffing">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/iStock_000015773512Small.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="120" height="120">
                <h5><a href="/node/6">We meet you where you are.</a></h5>
                <p>Work with us, and you will soon realize that we are experts with in-depth domain knowledge of the industry your business caters to.</p>
                <a class="btn" href="/industries">Learn More...</a>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
                <img src="http://oasys-corp.com/sites/default/files/imagecache/carousel_image/istockphoto_15509557-team.jpg" alt="" title="" class="imagecache imagecache-carousel_image imagecache-default imagecache-carousel_image_default" width="180" height="120">
                <h5><a href="/node/7">And we have all the tools you need.</a></h5>
                <p>We want you to focus on doing what you do best.  With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>
                <a class="btn" href="/practices">Learn More...</a>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<script type="text/javascript">
    jQuery('.carousel').carousel({
        interval: 2000
    });
</script>
