
<div class="span3">
    <h2>Employing Oasys</h2>
    <p>Whether it is redesigning the building blocks of existing project or starting new initiatives, Oasys will help you identify the right people and services to deliver results on your terms.</p>
</div>
<div class="span3">
    <h2>Clients & Services</h2>
    <p>Clients return to employ our services time and again because they have always seen high performance and outstanding results.</p>
</div>
<div class="span3">
    <h2>Working @ Oasys</h2>
    <p>Employees enjoy working with us because we provide growing career opportunities in challenging roles with excellent employee benefits.</p>
</div>
<div class="span3">
    <h2>Jobs</h2>
    <p>We are hiring!</p>
    <p>contact <a href=="mailto:jobs@oasys-corp.com">jobs@oasys-corp.com</a></p>
</div>
