
#static content
requests
webassets
closure
yuicompressor
jsmin

#background
cython
pymongo
mongokit
redis
celery
celery-with-redis
flower
pytz
pyquery
gevent
pyzmq
zerorpc
pykka

