{% extends "templates/layout.jinja2" %}

{% block title %}
    Employees
{% endblock %}

{% block body %}

    <section id="employees" data-speed="2" data-type="background">
        {{ currentdayform(request, True)|safe }}
        {% include "templates/admin/bootstrap.jinja2" %}
        <div class="container">
            {% if employees.items %}
                <div>
                    <h2>Employees</h2>
                    <hr>
                    <div class="pager">
                        {{ employees.pager(symbol_previous="«", symbol_next="»") }}
                    </div>
                </div>

                <hr>

                {% for employee in employees.items %}
                    {{ ea_attrs_form(request, employee, current_page) | safe }}
                {% endfor %}

                <hr>

                <div class="pager">
                    {{ employees.pager(symbol_previous="«", symbol_next="»") }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
    {#    <script src="{{ request.persona_js }}" type="text/javascript"></script>#}
{% endblock %}
