{% extends "templates/layout.jinja2" %}

{% block angular_app %}oasysUsaApp{% endblock %}

{% block title %}
    Employee Search Results
{% endblock %}

{% block body %}

    <section id="employees" data-speed="2" data-type="background">
        <div class="container">
            <div class="row">
                {{ currentdayform(request, True)|safe }}
            </div>
            <div class="row">
                {% include "templates/admin/bootstrap.jinja2" %}
            </div>
            <div>
                <h2>Employees</h2>
                <hr>
                {{ search_form(request, "Employee", query_string) | safe }}
                <p><b>Found {{ employee_res.get('hits').get('total') }} employee(s) in {{ employee_res.get('took') }} milliseconds</b></p>
            </div>

            <hr>

            <div class="row">
                <ul class="list-group">
                    {% for employee in employee_res.get('hits').get('hits') %}
                        <li class="list-group-item">
                            {{ ea_attrs_form(request, employee.get('fields'),
                                                      current_page, employee.get('fields').get('username')) | safe }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
    {% assets filters="rjsmin,datauri", output="js/form.validation.min.js", "js/date.standalone.js", "js/form.validation.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
