{% extends "templates/layout.jinja2" %}

{% block title %}
    Employees
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 80px;
        }
    </style>
{% endblock %}

{% block body %}
    {% if employees.items %}
        <h2>Employees</h2>
        {{ employees.pager(link_attr={"class": "btn small"},
                           curpage_attr={"class": "btn primary small disabled"},
                           dotdot_attr={"class": "btn small disabled"}) }}
        <ul>
            {% for employee in employees.items %}
                <li>{{ employee.first_name or employee.username }}</li>
            {% endfor %}
        </ul>
        {{ employees.pager(link_attr={"class": "btn small"},
                           curpage_attr={"class": "btn primary small disabled"},
                           dotdot_attr={"class": "btn small disabled"}) }}
    {% endif %}
{% endblock %}

{% block page_js %}
    {#    <script src="{{ request.persona_js }}" type="text/javascript"></script>#}
{% endblock %}
