{% extends "templates/layout.jinja2" %}

{% block angular_app %}oasysUsaApp{% endblock %}

{% block title %}
    Project
{% endblock %}

{% block body %}
    {% include "templates/partials/project_partial.jinja2" %}
{#    {{ projectform(request)|safe }}#}
{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
    {% assets filters="rjsmin,datauri", output="js/form.validation.min.js", "js/oasysusa.app.js", "js/form.validation.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
