<fieldset>
    <legend>{{ file_upload_type or "Unknown" }} File Upload</legend>
    {{ renderer.begin(request.route_url('file-upload'), class="form-inline timesheet-form",
                      accept_charset="utf-8", enctype="multipart/form-data") }}
    {{ renderer.csrf_token() }}
    {{ renderer.hidden("return_to", value=request.url) }}
    {{ renderer.label("Select or Drag and Drop a File") }}
    {{ renderer.errorlist("file_info") }}
    {{ renderer.file("file_info", type="file", form_input="form_input") }}
    {{ renderer.hidden("file_metadata", value=file_metadata) }}
    {{ renderer.submit('submit', 'Upload', class="btn btn-inverse") }}
    <hr>
    <ul class="list-group">
        {% for f in existing_files %}
{#            <li><a target="__blank" href="{{ request.route_url('file-download', fileid=f.fileid) }}">{{ f.filename }}</a></li>#}
            <li class="list-group-item">
{#                <a target="__blank" href="{{ f.file_url }}" class="btn btn-sm">{{ f.filename }}</a>#}
                {{ renderer.begin(request.route_url('file-upload')) }}
                    {{ renderer.csrf_token() }}
                    {{ renderer.hidden("return_to", value=request.url) }}
                    {{ renderer.hidden_tag("username") }}
                    {{ renderer.hidden("operation", value="delete_file") }}
                    {{ renderer.hidden("filename", value=f.filename) }}
                    {{ renderer.hidden("fileid", value=f.fileid) }}
                    <div class="form-inline">
                        <a target="__blank" href="{{ f.file_url }}" class="btn btn-sm">{{ f.filename }}</a>
                        {{ renderer.submit('submit', 'x', class="btln btn-sm glyphicon glyphicon-remove-circle") }}
                    </div>
                {{ renderer.end() }}
            </li>
        {% else %}
            <label>No files uploaded.</label>
        {% endfor %}
    </ul>
    {{ renderer.end() }}
</fieldset>

{% block page_js %}
{% endblock %}

