
<div>
    {{ renderer.begin(request.route_url('employees_es'), class="form-inline") }}
    {{ renderer.csrf_token() }}
    <div class="form-group">
        {{ renderer.label("Search " + search_type,  class="sr-only") }}
        {{ renderer.text("query", type="text", placeholder="Enter your search query here", size=160 , required="required", form_input="form_input") }}
        {{ renderer.submit('submit', 'Search', class="btn btn-inverse") }}
    </div>
    {{ renderer.end() }}
</div>

