{% extends "templates/layout.jinja2" %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <style type="text/css">
        body {
            padding-top: 100px;
        }

    </style>

    <div class="row">
        <div class="span12">
            <div class="hero-unit contenu">
                <h1>Join Us!</h1>
                <p>We're looking for smart, curious, agile learning software developers to help out on web and mobile application development projects.</p>
                <a class="btn btn-large btn-primary" href="tel:+6512340099">
                    <i class="icon-headphones"></i>
                    Call 651-234-0099
                </a>
                <a class="btn btn-large btn-primary" href="mailto:info@oasys-corp.com">
                    <i class="icon-envelope"></i>
                    info@oasys-corp.com
                </a>
                <a class="btn btn-large btn-primary" href="mailto:jobs@oasys-corp.com">
                    <i class="icon-envelope"></i>
                    jobs@oasys-corp.com
                </a>
            </div>
        </div>
    </div>
{% endblock %}
