
<a name="contact"></a>

<section id="contact" data-speed="2" data-type="background">
    <div class="container">
        <div class="page-header">
            <h1>We're looking for smart, curious, agile learning software developers to help out on web and mobile application development projects
                <small>, get in touch!</small></h1>
        </div>
        <div class="row-fluid">

            <div class="col-xs-4">
                <a href="tel:+6512340099" class="btn btn-lg btn-block  btn-primary">
                    Call: 651-234-0099
                </a>
            </div>
            <div class="col-xs-4">
                <a href="mailto:info@oasys-corp.com" class="btn btn-lg btn-block btn-info">
                    info@oasys-corp.com
                </a>
            </div>
            <div class="col-xs-4">
                <a href="mailto:jobs@oasys-corp.com" class="btn btn-lg btn-block  btn-primary">
                    jobs@oasys-corp.com
                </a>
            </div>
        </div>
    </div>
</section>
