{% extends "templates/layout.jinja2" %}

{% block title %}
    Home
{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cinzel">#}
{#    <style>#}
{#        div.item {#}
{#            font-family: 'Cinzel', serif;#}
{#            font-size: 48px;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block css %}
    <style>
        body {
            padding-top: 80px;
        }
    </style>
{% endblock %}

{% block header %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active redbox">
            <img src="http://placehold.it/1200x480&text=OASYS" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1><a href="#">And we have all the tools you need.</a></h1>
                    <p>We want you to focus on doing what you do best.  With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>
                    <a class="btn btn-large btn-primary" href="/contact">Learn More...</a>
                </div>
            </div>
        </div>
        <div class="item bluebox">
            <img src="http://placehold.it/1200x480&text=TECHNOLOGIES" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1><a href="#">We excel at matching talent to your needs.</a></h1>
                    <p>We get to know you, your business needs and your work culture.  We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</p>
                    <a class="btn btn-large btn-primary" href="/contact">Learn More...</a>
                </div>
            </div>
        </div>
        <div class="item greenbox">
            <img src="http://placehold.it/1200x480&text=INC." alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1><a href="#">Exceeding customer expectations</a></h1>
                    <p>We not only meet our customer expectations, but exceed them beyond their wildest imagination.  Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</p>
                    <br>
                    <a class="btn btn-large btn-primary" href="/contact">Learn More...</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
{% endblock %}

{% block body %}
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-xs-4 contenu">
{#        <img class="img-circle" data-src="holder.js/140x140">#}
        <h2>Employing Oasys</h2>
        <p>Whether it is redesigning the building blocks of existing project or starting new initiatives, Oasys will help you identify the right people and services to deliver results on your terms.</p>
{#        <p><a class="btn" href="#">View details &raquo;</a></p>#}
    </div><!-- /.span4 -->
    <div class="col-xs-4 contenu">
{#        <img class="img-circle" data-src="holder.js/140x140">#}
        <h2>Clients & Services</h2>
        <p>Clients return to employ our services time and again because they have always seen high performance and outstanding results.</p>
{#        <p><a class="btn" href="#">View details &raquo;</a></p>#}
    </div><!-- /.span4 -->
    <div class="col-xs-4 contenu">
{#        <img class="img-circle" data-src="holder.js/140x140">#}
        <h2>Working @ Oasys</h2>
        <p>Employees enjoy working with us because we provide growing career opportunities in challenging roles with excellent employee benefits.</p>
{#        <p><a class="btn" href="#">View details &raquo;</a></p>#}
    </div><!-- /.span4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">
{##}
{#<div class="featurette">#}
{#    <img class="featurette-image pull-right" src="http://twitter.github.io/bootstrap/assets/img/examples/browser-icon-chrome.png">#}
{#    <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>#}
{#    <p class="lead">Welcome to <span class="app-name">{{ project }}</span>, an application generated by<br/>#}
{#        the Pyramid web application development framework.</p>#}
{#</div>#}
{##}
{#<hr class="featurette-divider">#}
{##}
{#<div class="featurette">#}
{#    <img class="featurette-image pull-left" src="http://twitter.github.io/bootstrap/assets/img/examples/browser-icon-firefox.png">#}
{#    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>#}
{#    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#</div>#}
{##}
{#<hr class="featurette-divider">#}
{##}
{#<div class="featurette">#}
{#    <img class="featurette-image pull-right" src="http://twitter.github.io/bootstrap/assets/img/examples/browser-icon-safari.png">#}
{#    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>#}
{#    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>#}
{#</div>#}
{##}
{#<hr class="featurette-divider">#}

<!-- /END THE FEATURETTES -->

{% endblock %}
