{% extends "templates/layout.jinja2" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <section id="inc" data-speed="2" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingBloc">
                        <h2>TOOLS</h2>
                        <h3>We have all the tools you need.</h3>
                        <ul class="list-group">
                            <li class="list-group-item">We want you to focus on doing what you do best.</li>
                            <li class="list-group-item">With expertise in various tools and technologies we engage them to catapult your business to new heights.</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                        </ul>
{#                        <a href="#contact" class="btn btn-lg btn-primary">#}
{#                            Learn more &raquo;#}
{#                        </a>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingBloc">
                        <h2>TALENT</h2>

                        <h3>We excel at matching talent to your needs.</h3>
                        <ul class="list-group">
                            <li class="list-group-item">We get to know you, your business needs and your work culture.</li>
                            <li class="list-group-item">We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                        </ul>
{#                        <a href="#contact" class="btn btn-lg btn-primary">#}
{#                            Learn more &raquo;#}
{#                        </a>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricingBloc">
                        <h2>EXCELLENCE</h2>

                        <h3>Exceeding customer expectations</h3>
                        <ul class="list-group">
                            <li class="list-group-item">We not only meet our customer expectations, but exceed them beyond their wildest imagination.</li>
                            <li class="list-group-item">Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                            <li class="list-group-item">-</li>
                        </ul>
{#                        <a href="#contact" class="btn btn-lg btn-primary">#}
{#                            Learn more &raquo;#}
{#                        </a>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    <section id="oasys" data-speed="2" data-type="background">#}
{#        <div class="svg-container">#}
{#            <svg class="company_name" svg_text_anim#}
{#                 text="OASYS TECHNOLOGIES INC."></svg>#}
{#        </div>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <svg svg_text_anim#}
{#                         text="OASYS TECHNOLOGIES INC."></svg>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    <section id="oasys" data-speed="2" data-type="background">#}
{#        <div class="container">#}
{#            <div class="col-sm-12">#}
{#                <svg class="company_name" svg_text_anim#}
{#                     text="OASYS" text-size="160"></svg>#}
{#            </div>#}
{#            <div class="page-header">#}
{#                <h1>We have all the tools you need.</h1>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <p>We want you to focus on doing what you do best. With expertise in various tools and technologies we engage them to catapult your business to new heights.</p>#}
{#                    <a href="#contact" class="btn btn-lg btn-primary">#}
{#                        Learn more &raquo;#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section id="technologies" data-speed="2" data-type="background">#}
{#        <div class="container">#}
{#            <div class="col-sm-12">#}
{#                <svg class="company_name" svg_text_anim#}
{#                     text="TECHNOLOGIES" text-size="95" bg-fill="#9d77da" circle-fill="#fff"></svg>#}
{#            </div>#}
{#            <div class="page-header">#}
{#                <h1>We excel at matching talent to your needs.</h1>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <p>We get to know you, your business needs and your work culture. We then strategically match and deliver quality professional that meet your skill requirements and match your organizational needs.</p>#}
{#                    <a href="#contact" class="btn btn-lg btn-primary">#}
{#                        Learn more &raquo;#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section id="inc" data-speed="2" data-type="background">#}
{#        <div class="container">#}
{#            <div class="col-sm-12">#}
{#                <svg class="company_name" svg_text_anim#}
{#                     text="INC." text-size="160"></svg>#}
{#            </div>#}
{#            <div class="page-header">#}
{#                <h1>Exceeding customer expectations</h1>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <p>We not only meet our customer expectations, but exceed them beyond their wildest imagination. Our services range from Application design, Project management, Software development, Quality assurance and maintenance.</p>#}
{#                    <a href="#contact" class="btn btn-lg btn-primary">#}
{#                        Learn more &raquo;#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section id="work" data-speed="2" data-type="background">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-4 well box2">#}
{#                    <h2>Employing Oasys</h2>#}
{#                    <p>Whether it is redesigning the building blocks of existing project or starting new initiatives, Oasys will help you identify the right people and services to deliver results on your terms.</p>#}
{#                    <a class="btn btn-success" href="#contact">Learn more &raquo;</a>#}
{#                </div><!-- /.span4 -->#}
{#                <div class="col-xs-4 well box2">#}
{#                    <h2>Clients & Services</h2>#}
{#                    <p>Clients return to employ our services time and again because they have always seen high performance and outstanding results.</p>#}
{#                    <a class="btn btn-success" href="#contact">Learn more &raquo;</a>#}
{#                </div><!-- /.span4 -->#}
{#                <div class="col-xs-4 well box2">#}
{#                    <h2>Working @ Oasys</h2>#}
{#                    <p>Employees enjoy working with us because we provide growing career opportunities in challenging roles with excellent employee benefits.</p>#}
{#                    <a class="btn btn-success" href="#contact">Learn more &raquo;</a>#}
{#                </div><!-- /.span4 -->#}
{#            </div>#}
{#        </div>#}
{#    </section>#}



{% endblock %}

{% block page_js %}
    {% assets filters="rjsmin,datauri", output="js/parallax.min.js",
              "js/oasysusa.app.js", "js/text.animation.js", "js/parallax.js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
