<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="{% block angular_app %}oasysUsaApp{% endblock %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oasys Technologies &middot; Exceeding customer expectations">
    <meta name="author" content="">
    <meta content="_csrf" name="csrf-param" />
    <meta content="{{ request.session.get_csrf_token() }}=" name="csrf-token" />

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">

    <!-- Le styles -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css">#}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/slate/bootstrap.min.css">
{#    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">#}

    {% assets filters="pyscss,cssmin,datauri", output="css/oasysusa.min.css", "css/oasysusa.scss" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% block css %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    {% assets filters="rjsmin,datauri", output="js/html5shiv.min.js", "js/html5shiv.js", "js/html5shiv-printshiv.js" %}
    <script src="{{ ASSET_URL }}" rel="stylesheet"></script>
    {% endassets %}
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../docs-assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="../docs-assets/ico/favicon.png">
    <link rel="shortcut icon" href="{{ request.static_url('oasysusa:static/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- NAVBAR
================================================== -->
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-items">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ project }}</a>
        </div>
        <!-- /.navbar -->
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="collapse navbar-collapse" id="menu-items">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#Updates">Updates</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if USER_ID %}
                    <li><a href="/timesheet">Timesheet</a></li>
                {% endif %}
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ USER_ID or "Account" }}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="{{ USER_ID or 'Account' }}">
                        <li class="nav-header">Personal</li>
                        <li><a role="menuitem" tabindex="-1" href="/profile">Profile</a></li>
                        {% if USER_ID %}
                            <li><a href="/logout">Logout</a></li>
                            {#                            <li class="divider"></li>#}
                            {#                            <li class="nav-header">Links</li>#}
                            {#                            <li><a role="menuitem" tabindex="-1" href="/contact">Contact</a></li>#}
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                        {% if USER_ID %}
                            {% if has_cred('admin', request) %}
                                <li role="menuitem" tabindex="-1" class="divider"></li>
                                <li role="menuitem" tabindex="-1" class="nav-header">Time Management</li>
                                <li><a role="menuitem" tabindex="-1" href="{{ request.route_url('project-form') }}">Project</a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header">Employee Management</li>
                                <li><a role="menuitem" tabindex="-1" href="{{ request.route_url('employees') }}">Employees</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="divider"></li>
                        <li class="nav-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
    {% for flash_msg in USER_SESSION.pop_flash() %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Msg:</strong> {{ flash_msg }}
        </div>
    {% endfor %}
</header>
<!-- /.navbar-wrapper -->

{% block header %}
{% endblock %}

{% block body %}
{% endblock %}

{% include "templates/contact.jinja2" %}

<section id="footer" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- FOOTER -->
                <footer>
                    <p class="pull-right"><a href="#">Back to top</a></p>

                    <p>&copy; Copyright 2009-2014, Oasys Technologies &middot; <a href="#">Privacy</a> &middot; <a
                            href="#">Terms</a></p>
                </footer>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script>
{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-cookies.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-sanitize.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- Angular UI -->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>

{#<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>#}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.1.0/snap.svg-min.js"></script>

{% assets filters="rjsmin,datauri", output="js/cutting_edge.min.js",
"js/modernizr.custom.js",
"js/oasysusa.app.js",
"js/react-with-addons.js",
"js/mori.bare.js",
"js/jquery.dlmenu.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block page_js %}
{% endblock %}

</body>
</html>
