{% extends "templates/layout.jinja2" %}

{% block title %}
    Profile
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 80px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include "templates/profile_form_partial.jinja2" %}
{% endblock %}

{% block page_js %}
    {% if cljs_debug %}
        <script src="{{ request.static_url('oasysusa:static/js/repl.js') }}"></script>
        <script src="{{ request.static_url('oasysusa:static/js/profile.js') }}"></script>
    {% else %}
        <script src="{{ request.static_url('oasysusa:static/js/profile.js') }}"></script>
    {% endif %}
{% endblock %}
