{% extends "templates/layout.jinja2" %}

{% block angular_app %}oasysUsaApp{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    {% include "templates/partials/profile_form_partial.jinja2" %}
{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
    {% assets filters="rjsmin,datauri", output="js/profile.validation.min.js", "js/profile.validation.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
