{% extends "templates/layout.jinja2" %}

{% block title %}
    Result
{% endblock %}

{% block css %}
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    {% assets filters="pyscss,cssmin,datauri", output="css/profile.min.css", "css/profile.scss" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
{% endblock %}

{% block body %}
    {% include "templates/partials/profile_form_partial.jinja2" %}
{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
    {% if cljs_debug %}
        <script src="{{ request.static_url('oasysusa:static/js/repl.js') }}"></script>
        <script src="{{ request.static_url('oasysusa:static/js/profile-dev.js') }}"></script>
    {% else %}
        <script src="{{ request.static_url('oasysusa:static/js/profile.js') }}"></script>
    {% endif %}
{% endblock %}
