{% extends "templates/layout.jinja2" %}

{% block angular_app %}oasysUsaApp{% endblock %}

{% block title %}
    Timesheet
{% endblock %}

{% block body %}

    <section id="timesheet" data-speed="2" data-type="background">
        <div class="container">
            <div class="row-fluid">
                {{ currentdayform(request)|safe }}
                <hr>
            </div>
            <div class="row-fluid">
                <div class="col-xs-6">
                    {{ renderer.begin(request.route_url('timesheet'), name="timesheet-form", class="form-inline timesheet-form",
                                                                      novalidate="novalidate", ng_controller="FormValidationController") }}
                    <h2 class="form-base-heading">Timesheet</h2>
                    <fieldset>
                        <legend>{{ TUTILS.format_date(monday) }} to {{ TUTILS.format_date(sunday) }}</legend>
                        {{ renderer.csrf_token() }}
                        {{ renderer.label("Monday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours1") }}
                        {{ renderer.text("Hours1", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours1", ng_initial="") }}
                        {{ renderer.hidden_tag("Day1") }}
                        {{ renderer.select("project1", projects, selected_value=None, id="project1", class="form-control", ng_model="data.project1", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Tuesday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours2") }}
                        {{ renderer.text("Hours2", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours2", ng_initial="") }}
                        {{ renderer.hidden_tag("Day2") }}
                        {{ renderer.select("project2", projects, selected_value=None, id="project2", class="form-control", ng_model="data.project2", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Wednesday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours3") }}
                        {{ renderer.text("Hours3", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours3", ng_initial="") }}
                        {{ renderer.hidden_tag("Day3") }}
                        {{ renderer.select("project3", projects, selected_value=None, id="project3", class="form-control", ng_model="data.project3", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Thursday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours4") }}
                        {{ renderer.text("Hours4", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours4", ng_initial="") }}
                        {{ renderer.hidden_tag("Day4") }}
                        {{ renderer.select("project4", projects, selected_value=None, id="project4", class="form-control", ng_model="data.project4", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Friday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours5") }}
                        {{ renderer.text("Hours5", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours5", ng_initial="") }}
                        {{ renderer.hidden_tag("Day5") }}
                        {{ renderer.select("project5", projects, selected_value=None, id="project5", class="form-control", ng_model="data.project5", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Saturday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours6") }}
                        {{ renderer.text("Hours6", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours6", ng_initial="") }}
                        {{ renderer.hidden_tag("Day6") }}
                        {{ renderer.select("project6", projects, selected_value=None, id="project6", class="form-control", ng_model="data.project6", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Sunday") }}
                        <br>
                        {{ renderer.label("Hours") }}
                        {{ renderer.errorlist("Hours7") }}
                        {{ renderer.text("Hours7", type="text", pattern="[0-9]{2}", size="2", placeholder="8.0",
                                                   required="required", ng_model="data.Hours7", ng_initial="") }}
                        {{ renderer.hidden_tag("Day7") }}
                        {{ renderer.select("project7", projects, selected_value=None, id="project7", class="form-control", ng_model="data.project7", ng_initial="") }}
                        <hr>
                        {{ renderer.label("Description") }}
                        {{ renderer.errorlist("description") }}
                        {{ renderer.textarea("description", placeholder="description", class="field span12", rows="4", cols="50",
                                                    required="required", ng_model="data.description", ng_initial="") }}
                        <hr>
                    </fieldset>
                    <button id="clear" class="btn btn-large">Clear</button>
                    {{ renderer.submit('submit', 'Save', class="btn btn-large btn-primary") }}
                    {{ renderer.end() }}
                </div>
                <div class="col-xs-6">
                    {{ fileuploadform(request, dict(username=USER_ID,
                                 file_upload_type="Client's Timesheet",
                                 start=TUTILS.format_date(monday),
                                 end=TUTILS.format_date(sunday)))|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block page_js %}
    {% include "templates/partials/form_modernizr_partial.jinja2" %}
{#    {% assets filters="rjsmin,datauri", output="js/form.validation.min.js", "js/form.validation.js", "js/date.standalone.js" %}#}
{#        <script src="{{ ASSET_URL }}" type="text/javascript"></script>#}
{#    {% endassets %}#}
    {% assets filters="rjsmin,datauri", output="js/form.validation.min.js", "js/oasysusa.app.js", "js/date.standalone.js", "js/form.validation.js" %}
{#    {% assets filters="datauri", output="js/form.validation.min.js", "js/oasysusa.app.js", "js/date.standalone.js", "js/form.validation.js" %}#}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
{% endblock %}
