- @title = "Oasys Corp Home"
.row
  %h1
    Home
  %p#interface
    Oasys is an emerging leader in Strategic IT & Business Staffing making great strides since its inception in 2009. With its Corporate Headquaters in Eagan MN, Oasys is growing worldwide at a rapid pace.