/* DEFAULT COLORS
-------------------------------------------------- */

$box_shadow=
0
0
50
px

rgba
(
0
,
0
,
0
,
0.8
)
;

/************ BOX *****************/

$box_border=
1
px #353535 solid

;

/**************** FORM ********************/

$form_border=
1
px solid #e5e5e5

;
$input_invalid_dirty_color=
#FA787E

;
$input_valid_dirty_color=
#78FA89

;

/******** FORMS ****************/

$white_background_color=
#fff

;

/********* BUTTONS *************/

$button_main=
#1F7F68

;
$button_main_hover=
#1F7F68

;

/* COLOR OVERRIDES
-------------------------------------------------- */

/* BOOSTRAP CUSTOMIZATION
================================================== */

.palette-firm {
  background-color: #1abc9c;
}

.palette-firm-dark {
  background-color: #16a085;
}

.palette-success {
  background-color: #2ecc71;
}

.palette-success-dark {
  background-color: #27ad60;
}

.palette-info {
  background-color: #3498db;
}

.palette-info-dark {
  background-color: #2383c4;
}

.palette-warning {
  background-color: #f1c40f;
}

.palette-warning-dark {
  background-color: #cea70c;
}

.palette-danger {
  background-color: #e74c3c;
}

.palette-danger-dark {
  background-color: #dc2d1b;
}

.palette-night {
  background-color: #34495e;
}

.palette-night-dark {
  background-color: #2c3e50;
}

.palette-bright {
  background-color: #f1c40f;
}

.palette-bright-dark {
  background-color: #cea70c;
}

.palette-success-dark {
  background-color: #27ae60;
}

.palette-info-dark {
  background-color: #2980b9;
}

.palette-bright-dark {
  background-color: #f39c12;
}

.palette-amethyst {
  background-color: #9b59b6;
}

.palette-wisteria {
  background-color: #8e44ad;
}

.palette-carrot {
  background-color: #e67e22;
}

.palette-pumpkin {
  background-color: #d35400;
}

.palette-alizarin {
  background-color: #e74c3c;
}

.palette-pomegranate {
  background-color: #c0392b;
}

.palette-clouds {
  background-color: #ecf0f1;
  color: #bdc3c7;
}

.palette-silver {
  background-color: #bdc3c7;
}

.palette-concrete {
  background-color: #95a5a6;
}

.palette-asbestos {
  background-color: #7f8c8d;
}

.palette-paragraph {
  color: #7f8c8d;
  font-size: 12px;
  line-height: 17px;
}

.palette-paragraph span {
  color: #bdc3c7;
}

.palette-headline {
  color: #7f8c8d;
  font-weight: 700;
  margin-top: -5px;
}


