/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  //background-image: url('../img/background.png');
  font-family: times, Times New Roman, times-roman, georgia, serif;
}

div.contenu {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  background-color: white;
  /*border: 1px solid #ccc;*/
  /*padding: 20px;*/
  text-shadow: none;
}

/************** BOXES ****************/

@import "box_common";

div.redbox {
  background-color: red;
  @include box_mixin;
}

div.bluebox {
  background-color: blue;
  @include box_mixin;
}

div.greenbox {
  background-color: green;
  @include box_mixin;
}

div.yellowbox {
  background-color: yellow;
  @include box_mixin;
}

div.cyanbox {
  background-color: cyan;
  @include box_mixin;
}

div.puplebox {
  background-color: purple;
  @include box_mixin;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
}

@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

}

/******************* place holders *********************/

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/************************ pagination *****************/

.pagination {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

/************************ forms *****************/

@import "form_common";

.employee-attributes {
  max-width: 440px;
  @include form_base_mixin;
}

/************************ sections *****************/

@import "section_common";

section.h1 {
  @include section_heading_mixin;
}

section.h2 {
  @include section_heading_mixin;
}

#notifications {
  background: beige;
  @include section_mixin;
}

#contact {
  background: darkgray;
  margin-bottom: 10px;
  @include section_mixin;
}

#footer {
  background: beige;
  @include section_mixin;
}
