
@mixin form_base_mixin {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

$input_invalid_dirty_color = #FA787E;
$input_valid_dirty_color = #78FA89;

$narrow_form = 300px;
$wide_form = 440px;

.form-base {
  max-width: $narrow_form;
  @include form_base_mixin;
}

.form-base-wide {
  max-width: $wide_form;
  @include form_base_mixin;
}

.form-base .form-base-heading,
.form-base .checkbox {
  margin-bottom: 10px;
}

.form-base input[type="text"],
.form-base input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-base input.invalid.dirty {
  background-color: $input_invalid_dirty_color;
}

.form-base input.valid.dirty {
  background-color: $input_valid_dirty_color;
}

.form-base textarea.invalid.dirty {
  background-color: $input_invalid_dirty_color;
}

.form-base textarea.valid.dirty {
  background-color: $input_valid_dirty_color;
}
