
@import "section_common";
@import "common";

#oasys {
  color: white;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: #1F7F68;
  @include section_mixin;
}

#technologies {
  //background: #8BFFE3;
  color: white;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: #B23208;
  @include section_mixin;
}

#inc {
  //background: #3FFFD1;
  color: white;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: #467F72;
  @include section_mixin;
}

//#work {
//  background: #467F72;
//  @include section_mixin;
//}

