/* GLOBAL STYLES
-------------------------------------------------- */

@import "components";
@import "colors";
@import "layout";
@import "fonts";
@import "miscellaneous";

body {
  padding-top: 50px;
  padding-bottom: 40px;
}

div.contenu {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  background-color: white;
  /*border: 1px solid #ccc;*/
  /*padding: 20px;*/
  text-shadow: none;
}

/************** BOXES ****************/

div.redbox {
  background-color: red;
  @include box_mixin;
}

div.bluebox {
  background-color: blue;
  @include box_mixin;
}

div.greenbox {
  background-color: green;
  @include box_mixin;
}

div.yellowbox {
  background-color: yellow;
  @include box_mixin;
}

div.cyanbox {
  background-color: cyan;
  @include box_mixi;
}

div.puplebox {
  background-color: purple;
  @include box_mixin;
}

div.box {
  color: #ffffff;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: #1F7F68;
  @include box_mixin;
}

div.box2 {
  color: #ffffff;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: green;
  @include box_mixin;
}

/************************ forms *****************/

.employee-attributes {
  max-width: 440px;
  @include form_base_mixin;
}

/************************ sections *****************/

#contact {
  background: #3FFFD1;
  margin-bottom: 10px;
  @include section_mixin;
}

#footer {
  //color: #ffffff;
  //text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  //background: #1F7F68;
  background-color: #edeff1;
  @include section_mixin;
}

/******** EMPLOYESS ***********/

#employees {
  background: #32CCA7;
  @include section_mixin;
}

/******** HOME ***********/

#oasys {
  //color: white;
  //text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  //background: #1F7F68;
  background: #32CCA7;
  @include section_mixin;
}

#technologies {
  background: #8BFFE3;
  //color: white;
  //text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  //background: #B23208;
  @include section_mixin;
}

#inc {
  //background: #3FFFD1;
  color: white;
  text-shadow: -1px 0 lightgray, -1px 0 #5760ff;
  background: #467F72;
  @include section_mixin;
}

//#work {
//  background: #467F72;
//  @include section_mixin;
//}

/******** LOGIN ***********/

#login {
  background: #32CCA7;
  @include section_mixin;
}

/******** PROFILE ***********/

#profile {
  background: #32CCA7;
  @include section_mixin;
}

/******** PROJECT ***********/

#project_section {
  background: #32CCA7;
  @include section_mixin;
}

/******** TIMESHEET ***********/

#timesheet {
  background: #32CCA7;
  @include section_mixin;
}

.timesheet-form {
  max-width: $wide_form;
  @include form_base_mixin;
}

.timesheet-form hr {
  border: 0;
  width: 80%;
  color: lightskyblue;
  background-color: lightskyblue;
  height: 1px;
}

.form-base input.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;
}

.form-base input.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.form-base textarea.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;;
}

.form-base textarea.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.profile-form {
  max-width: $wide_form;
  @include form_base_mixin;
}

.profile-form input.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;
}

.profile-form input.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.profile-form textarea.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;;
}

.profile-form textarea.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.project-form {
  max-width: $wide_form;
  @include form_base_mixin;
}

.project-form input.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;
}

.project-form input.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.project-form textarea.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;;
}

.project-form textarea.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.timesheet-form {
  max-width: $wide_form;
  @include form_base_mixin;
}

.timesheet-form input.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;
}

.timesheet-form input.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.timesheet-form textarea.ng-invalid.ng-dirty {
  background-color: $input_invalid_dirty_color;;
}

.timesheet-form textarea.ng-valid.ng-dirty {
  background-color: $input_valid_dirty_color;
}

.search-form {
  max-width: $wide_form;
  @include form_base_mixin;
}

#company_name {
  height: 200px;
  width: 800px;
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}








