@mixin section_mixin {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}

@mixin section_heading_mixin {
  font-family: "ff-meta-serif-web-pro", serif;
  font-size: 3.75em;
  line-height: 1.25em;
}
